body{
    background-color:white;
   
}
.car-box{   
    margin-top: 10px;
    margin-left: 15px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    height: 160px;
    width: 800px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.194);
    flex-wrap: wrap;
    margin-bottom: 500px;
    font-size: 14pt;
}
.car-box:hover {
    scale: 1.01;
}

.image {
    margin-top: 6px;
    height: 10px;
    left: 10px;
    display: flex;

}

.description{
    margin-left:160px ;
    margin-top: -12px;
    height: 100px;
    left: 10px;
}


.name {
    text-align: left;
    font-size: 18pt;
}

.description2{
    text-align: right;
    margin-right: 50px;
    margin-top: -50px;
}
.price {
    font-weight: bold;
    font-size: 16pt;;
}

.cor{
    margin-left: 150px;
}

.number {
    display: inline-block;
    font-size: 13pt;
    align-items: right;
    color: #222;
    font-weight: bold;
    border: 1px solid #666;
    border-radius: 3px;
    margin-top: 10px;
    width: 60px;
    height: 20px;
    
}

.colors{
    font-size: 13pt;
    display: inline-block;
    align-items: left;
    color: #666;
    font-weight: bold;
    border: 1px solid #666;
    border-radius: 3px;
    margin-top: 10px; 
}