body{
    background-color:white;
   
}

.car-container{
    font: arial;
    font-size: 15pt;
    background-color: white;
    height: 500px;
    width: 1200;
}
.car-box{   
    margin-top: 10px;
    margin-left: 15px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    height: 150px;
    width: 800px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 1px 3px rgba(1.244, 1.244, 1.244, 1.244);
    flex-wrap: wrap;
}

.image {
    margin-top: 5px;
    height: 15%;
    display: flex;

}

.description{
    margin-left:150px ;
    margin-top: -12px;
}


.name {
    margin-left: 150px;
    text-align: left;
    font-size: 15pt;
}

.price {
    text-align: right;
    margin-right: 50px;
    font-weight: bold;
    font-size: 15pt;
}

.discount{
    text-align: right;
    margin-right: 50px;
}

.cor{
    margin-left: 150px;
}

.number {
    font-size: 13pt;
    align-items: right;
    color: #666;
    font-weight: bold;
    border: 1px solid #666;
    border-radius: 3px;
    margin-top: 10px;
}

.colors{
    font-size: 13pt;
    display: inline-block;
    align-items: left;
    color: #666;
    font-weight: bold;
    border: 1px solid #666;
    border-radius: 3px;
    margin-top: 10px; 
}