@charset "UTF-8";

body {
    background-color: #fff;
    
}

main {
    padding: 40px 0;
    padding-left: 20px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    gap: 10px;
    margin-bottom: 20px;
    padding-left: 30px;
}

.product-box {
    padding: 16px;
    border: 1px solid #999;
    border-radius: 8px;
    transition: 0.3s;
}

.product-box img {
    height: 100px;
    width: 100px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
}

.description {
    height: 50%;
}

.name {
    font-size: 1.3em;
    margin: 30px 0 20px 0;
}

.price {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 5px;
}

.buy-button {
    background-color: #6a34a8;
    color: #fff;
    text-align: center;
    padding: 3px 5px;
    font-weight: bold;
    border: 1px solid #380472;
    border-radius: 3px;
    margin-top: 10px;
    transition: 0.2s;
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buy-button:hover {
    scale: 1.04;
}

