.banner-container {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin: 20px 0;
}

.banner-container img {
    width: 100%;
    cursor: pointer;
}

.desk-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.desk-container img {
    width: 23%;
    border-radius: 5px;
    cursor: pointer;
}